* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Manrope', serif;
}

:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: rgb(82, 255, 168);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Blue);
}
.card {
  padding: 1.8rem 2rem;

  width: 31rem;
  max-width: 90%;
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--Light-Cyan);
  font-weight: 400;
  h6 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-bottom: 0.5rem;
    color: var(--Neon-Green);
  }
  p {
    text-align: center;

    font-weight: 700;
    font-size: clamp(1.125rem, 0.9009rem + 0.9434vw, 1.75rem);
  }

  background-color: var(--Dark-Grayish-Blue);
}
.decorations {
  margin-block: 1.2rem 1.8rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.decorations::after {
  content: '';
  width: 50%;
  height: 0.01rem;
  opacity: 0.3;
  background-color: var(--Light-Cyan);
}
.decorations::before {
  content: '';
  width: 50%;
  height: 0.01rem;
  opacity: 0.3;
  background-color: var(--Light-Cyan);
}
.icon {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}
.icon::after {
  content: '';
  width: 4px;
  height: 0.8rem;
  border-radius: 2px;

  background-color: var(--Light-Cyan);
}
.icon::before {
  content: '';
  width: 4px;
  height: 0.8rem;
  border-radius: 2px;

  background-color: var(--Light-Cyan);
}
.btn {
  background-color: var(--Neon-Green);

  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  transform: translateY(50%);
  bottom: 0;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 44px 2px var(--Neon-Green);
    -webkit-box-shadow: 0px 0px 44px 2px var(--Neon-Green);
    -moz-box-shadow: 0px 0px 44px 2px var(--Neon-Green);
  }
}
.loader {
  width: 100px;
  height: 100px;
  margin-block: 2rem 1rem;
  background: linear-gradient(
    165deg,
    rgba(82, 255, 168, 1) 0%,
    rgb(3, 211, 107) 40%,
    rgb(2, 135, 68) 98%,
    rgb(10, 10, 10) 100%
  );
  border-radius: 50%;
  position: relative;
}

.loader:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 0 solid #ffffff05;
  box-shadow: 0 -10px 20px 20px #ffffff40 inset,
    0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
    0 -3px 2px #84ad96 inset, 0 2px 0px #759684, 0 2px 3px #475d50,
    0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
  filter: blur(3px);
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.d-none {
  display: none;
}
